* {
    margin: 0px;
    padding: 0px;

    box-sizing: content-box;
}

body {
    display: flex;
}

main {
    width: 75vw;
    height: 100vh;
}

img {
    image-rendering: pixelated;
}

#tabuleiro {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow: scroll;
}

#tabuleiro div {
    display: flex;
}


#tabuleiro div button {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border: 1px black solid;
}

#tabuleiro div button img {
    width: 50%;
    height: 50%;
}

.porta {
    min-width: 100%;
    min-height: 100%;
}

aside {
    width: 25vw;
    height: 100vh;
    overflow: scroll;

    border-left: 1px black solid;
}

#opcoes {
    width: 100%;
    padding: 1vh 0vw;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    border-bottom: 1px black solid;
    
}

#opcoes button {
    min-width: 80px;

    width: 40%;
    height: 50px;
    margin: 1vh 0vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    width: 100%;
    padding: 1vh 0vw;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 138px;
    height: 159px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border-style: none;
    background-color: white;
}

.card:hover {
    background-color: grey;
}

@media screen and not (min-width: 1400px) {
    #tabuleiro div button {
        width: 48px;
        height: 48px;
    }
}
